body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Verdana, Geneva, sans-serif;
  background-color: antiquewhite;
}

.centerbar {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.rightpic {
  float: right;
  max-width: 300px;
  max-height: 300px;
  border-radius: 30px;
}

figure {
  display: flex;
  float: left;
  padding: 5px;
  max-width: 350px;
  margin: auto;
}

.logo {
  max-height: 50px;
}

figcaption {
  background-color: antiquewhite;
  color: rgb(0, 0, 0);
  padding: 3px;
  text-align: center;
  vertical-align: center;
}
footer {
  text-decoration-color: rgb(150, 150, 150);
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav {
  display: block;
  width: 100%;
}
.titles{
  display: inline-block;
  width: 100%;
}
